
.top{
    z-index: 100;
    position:fixed;
    bottom: 0;
    overflow: hidden;
    display:block;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: black;
}
#topheader .contenedor{
    padding: 0;
    width: 100%;
    max-width: 90%;
}
.top .informacion{
    position: relative;
    z-index:1;
    font-family: 'Work Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
    transform: translateX(-100%);
    animation-name: mover;
    animation-duration: 12s;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    font-size: 14px;
}
.top .informacion p{
    white-space: pre;
    color: yellow;
    font-weight: 300;
}
.top .portales{
    display: none;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
/*
.fixed{
    position: fixed;
}
.nofixed{
    position: relative;
}
*/

@keyframes mover{
    0%{
        transform: translateX(120%);
    }
    25%{
        
    }
    50%{
        
    }
    75%{
        
    }
}
/*---------------------SECCION TOPHEADER FINAL--------------------------------*/

.escribenos img{
    width: 55px;
    transition: all 0.5s;
}
.escribenos img:hover{
    transform: scale(1.4);
}
.escribenos{
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 60;
}

/* --------------------------------------------------*/
.redes{
    z-index: 100;
    position: fixed;
    top: 50%;
    right: 0;
    height: auto;
    background-color:#cc1019 ;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
}
.subredes{
    padding: 5px;
    border-radius: 50px;
    background-color: ;
}
.subredes i{
    font-size: 23px;
}
.redes i{
    color: #fff;
}

.domicilio{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 60;
}
.domicilio img{
    transition: all 0.5s;
    width: 55px;
}
.domicilio img:hover{
    transform: scale(1.4);
}

@media (min-width:756px){
    #topheader a{
        color: #fff;
        font-size: 13px;
    }
    #topheader i{
        margin-right: 5px;
    }
    #topheader a:hover{
        color: #fff;
    }
    #topheader .contenedor{
        display: flex;
    }
    #topheader .informacion{
        width: 50%;
        margin: 0;
    }
}

@media (min-width:955px){
    #topheader .portales{
        width: 50%;
        display: flex;
    }
    #topheader .portales ul li{
        list-style: none;
        float: right;
        margin-right: 8px;
    }
}